* {
    box-sizing: border-box;
}

.cards-container {
    width: 725px;
    margin: 0 auto;
    font-family: sans-serif;
}

.card-content {
    text-align: center;
}

.undertext>p {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.undertext>p:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.top-container {
    text-align: justify;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}

.lead-text {
    display: inline-block;
    vertical-align: super;
    font-size: 25px;
    font-weight: 100;
    margin: 8px;
}

.link {
    display: inline;
}

.photo-profile {
    width: 100px;
    height: 100px;
    margin-top: calc(var(--img-size)/2*-1);
    margin-bottom: 5px;
    padding: 5px;

    border-radius: 50%;

    object-fit: cover;
    object-position: top;

}

.full-name-user {
    max-width: 60%;
    margin: 0 auto;
}

.btn-container {
    margin: 0 30px;
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.btn {
    max-width: 40%;
    padding: 0.3em 0.5em;
    border: none;
    border-radius: 3px;;
    color: white;
    text-transform: capitalize;
    font-size: 1em;
}

.follow-bg {
    background-color: forestgreen;
}

.main-bg {
    background-color: var(--main-color);
}

.text-inline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-text {
    padding: 0px 30px;
    font-style: 0.9em;
    line-height: 1.5em;
}

.footer-bg {
    height: calc(var(--img-size)*0.5);
    padding-top: 22px;
}

.footer-bg img {
    width: 30px;;
}

.address-user {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.address-user img {
    width: 16px;
}

.skills {
    margin-top: 30px;
    padding-left: 15px;
    line-height: 0px;
    font-size: 28px;
    font-weight: 100;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}

.experience {
    margin-top: 30px;
    padding-left: 15px;
    line-height: 0px;
    font-weight: 900;
    font-size: 28px;
    font-weight: 100;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}