* {
    box-sizing: border-box;
}

.cards-container {
    width: 725px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

.card-content {
    text-align: center;
}

.photo-profile {
    width: 100px;
    height: 100px;
    margin-top: calc(var(--img-size)/2*-1);
    margin-bottom: 5px;
    padding: 5px;

    border-radius: 50%;

    object-fit: cover;
    object-position: top;
}

.full-name-user {
    font-size: 42px;
    margin: 0 auto;
}

.undertext>p {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
}

.undertext>p:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.top-container {
    text-align: justify;
    color: grey;
    border-top: 4px solid grey;
    border-bottom: 1px solid grey;
}

.top-container img {
    background-color: black;
    border: 3px solid black;
    border-radius: 50%;
}

.lead-text {
    display: inline-block;
    vertical-align: super;
    color: grey;
    font-size: 25px;
    font-weight: 100;
    margin: 8px;
    margin-right: 17px;
    margin-left: 0;
}

.middle-container {
    color: grey;
    line-height: 20px;
}

.middle-container b {
    color: black;
}

.skills-container p {
    color: grey;
}

.skills-container li {
    color: black;
}

.skills-container span {
    color: grey;
}

.skills-name {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    line-height: 0px;
    font-size: 25px;
    font-weight: 900;
    border-top: 4px solid grey;
    border-bottom: 1px solid grey;
}

.experience-container span {
    color: grey;
    line-height: 20px;
}

.experience-name {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    line-height: 0px;
    font-size: 25px;
    font-weight: 900;
    border-top: 4px solid grey;
    border-bottom: 1px solid grey;
}

